{% extends "base.html" %}
{% load static %}

{% block content %}
		<!-- End Header Area -->
	
		<!-- Breadcrumbs -->
		<div class="breadcrumbs overlay">
			<div class="container">
				<div class="bread-inner">
					<div class="row">
						<div class="col-12">
							<h2>Disorders Of Women </h2>
							<ul class="bread-list">
								<li><a href="{% url 'index' %}">Home</a></li>
								<li><i class="icofont-simple-right"></i></li>
								<li class="active">Disorders Of Women </li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Breadcrumbs -->
	
		<!-- Start Portfolio Details Area -->
		<section class="pf-details section">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="inner-content">
							<div class="image-slider">
								<div class="pf-details-slider">
									<img src="{% static 'img/call-bg.jpg' %}" alt="#">
									<img src="{% static 'img/call-bg.jpg' %}"  alt="#">
									<img src="{% static 'img/call-bg.jpg' %}"  alt="#">
								</div>
							</div>
							<!-- <div class="date">
								<ul>
									<li><span>Category :</span> Heart Surgery</li>
									<li><span>Date :</span> April 20, 2019</li>
									<li><span>Client :</span> Suke Agency</li>
									<li><span>Ags :</span> Typo</li>
								</ul>
							</div> -->
							<div class="body-text">
								<h3>Disorders of women- Gynaecological Disorders</h3> 
								<p>	<strong> ▶️ Oligomenorrhoea ( scanty flow at periods )</strong> <br>
									Definition : The periods are regular, but the flow is scanty, and short-lasting. <br>
									Causes : Constitutional, adolescence, anaemia, debility, hormonal or Pre- menopausal. <br>
									Symptoms :The menstrual flow is scanty and short lasting.
									
									<br><strong>▶️ Delayed Puberty ( In females )</strong><br>
									Definition : when the normal twenty-eight day cycle has not commenced by About the age of fourteen years. <br> Causes : Constitutional, nutritional, endocrine, anaemia, stress and Nervousness; (imperforate).
									
									<br><strong>▶️ Irregular Menustration</strong><br>
									Definition : The periods are unpredictable and there is not the normal twenty- eight Day cycle, but a variation in length of cycle and /or period of the flow. <br> Causes : Fibroids, pre-menopausal, stress, anxiety, convalescence, traveling(jet- lag), infection, anaemia, malnutrition. <br> Symptoms : The periods are irregular and unpredictable.
									
									<br><strong>▶️ Leucorrhoea</strong><br>
									Definition : A vaginal discharge, usually white or clear. <br> Causes : Chronic inflammation of the mucosal lining of the vagina or the cervix <br> Symptoms : A vaginal discharge, with irritation, pain and discomfort.</p>
									
									<h3>Obseric disorders</h3> 
									<p>	<strong> ▶️ Morning sickeness ( vomiting of pregnancy , Pre-eclapsia )</strong> <br>
										Definitions : Nausea and vomiting, usually in the early weeks of pregnancy. (Pre- eclampsia occurs later). <br> Causes : Psychological factors or hormonal imbalances. <br> Symptoms : Persistent early morning nausea and vomiting during the first three Months of pregnancy. Lack of appetite.
										
										<br><strong>▶️ 	Infertility ( Repeated abortions or Miscarriages)</strong><br>
										Definitions : The failure to conceive after continual attempts to procreate over a Prolonged period. <br> Causes : Causes are multiple; the problem may be in the male or the female.Cause may be determined by the sperm profile, <br> Symptoms : Pregnancy fails to occur. Repeated miscarriages.
										
										<br><strong>▶️ Painless delivery - Relief of pain at Childbirth </strong><br>
										Definitions : The three stages of explusion of the infant and placenta constitute Delivery. <br> Symptoms : Pain, contraction, bearing down pains.

										<br><strong>▶️ 	Delivery miscarriages, Abortion, Pre-mature delivery</strong><br>
										Definitions :The spontaneous and premature termination of pregnancy.Usually in the early weeks. <br> Causes : From acute shock, and emotional disturbances; hormonal imbalance or From infections.There may be an abnormality of the developing foetus, or of the uterus. <br> Symptoms : Hemorrhage, regular uterine contractions, abdominal pain, collapse. Fear of death.

								<!-- <div class="share">
									<h4>Share Now -</h4>
									<ul>
										<li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
										<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
									</ul>
								</div> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Portfolio Details Area -->
		
		{% endblock %}
    </body>
</html>