<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jeevadhara Homeo</title>
    <!-- Box Icons  -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <!-- Styles  -->
    <link rel="shortcut icon" href="{% static 'asset/img/kxp_fav.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'asset/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">



</head>

<body>
    <div class="sidebar close">
        <!-- ========== Logo ============  -->
        <a href="#" class="logo-box">
           <img src="" class="img-fluid" width="60" height="40" alt="Logo">
            <div class="logo-name"></div>
        </a>

        <!-- ========== List ============  -->
        <ul class="sidebar-list">
            <!-- -------- Non Dropdown List Item ------- -->
            <li>
                <div class="title">
                    <a href="admin_dashboard" class="link">
                        <i class='bx bx-grid-alt'></i>
                        <span class="name">Dashboard</span>
                    </a>
                    
                </div>
                <div class="submenu">
                    <a href="admin_dashboard" class="link submenu-title">Dashboard</a>
                </div>
            </li>

            

            <li class="dropdown">
                <div class="title">
                    <a href="#" class="link">
                        <i class="fa fa-picture-o" aria-hidden="true"></i>
                        <span class="name">Gallery</span>
                    </a>
                    <i class='bx bxs-chevron-down'></i>
                </div>
                <div class="submenu">
                    <a href="#" class="link submenu-title">Add Gallery</a>
                    
                </div>
            </li>

            <!-- -------- Non Dropdown List Item ------- -->
            <li>
                <div class="title">
                    <a href="admin_news_view" class="link">
                        <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                        <span class="name">News</span>
                    </a>
                </div>
                <div class="submenu">
                    <a href="admin_news_view" class="link submenu-title">News</a>
                </div>
            </li>

            <li class="dropdown">
                <div class="title">
                    <a href="admin_appointment_view" class="link">
                        <i class='bx bx-collection'></i>
                        <span class="name">Appointments</span>
                    </a>
                </div>
                <div class="submenu">
                    <a href="admin_appointment_view" class="link submenu-title">Appointments</a>
                    <!-- submenu links here  -->
                </div>
            </li>

            <li>
                <div class="title">
                    <a href="admin_contact_view" class="link">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <span class="name">Contact History</span>
                    </a>
                    <!-- <i class='bx bxs-chevron-down'></i> -->
                </div>
                <div class="submenu">
                    <a href="admin_contact_view" class="link submenu-title">Contact History</a>
                    <!-- submenu links here  -->
                </div>
            </li>

            <!-- -------- Dropdown List Item ------- -->
           
            <li>
                <div class="title">
                    <a href="logout_user" class="link">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                        <span class="name">Sign Out</span>
                    </a>
                    <!-- <i class='bx bxs-chevron-down'></i> -->
                </div>
                <div class="submenu">
                    <a href="logout_user" class="link submenu-title">Sign Out </a>
                    <!-- submenu links here  -->
                </div>
            </li>
            
            
        </ul>
    </div>


    <section class="home">
        <div class="toggle-sidebar">
            <i class='bx bx-menu'></i>
            <div class="text">Toggle</div>
        </div>

        <div class="container-1">
                <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}

                    <h2>Add News</h2>
                    <div class="content-1">
                        <div class="input-box">
                            <label for="news_heading">News Heading</label>
                            <input type="text" placeholder="" name="news_heading" required>
                        </div>
                        <div class="input-box">
                            <label for="date"></label>Date</label>
                            <input type="date" placeholder="" name="date" required>
                        </div>
                        
                        <div class="input-box">
                            <label for="image">Image</label>
                            <input type="file" placeholder="" name="image" required>
                        </div>
                        
                        <div class="input-box">
                            <label for="description">Description</label>
                            <input type="text" placeholder="" name="description" required>
                        </div>
                        
                        <div class="button-container-1">
                            <button type="submit">ADD NEWS</button>
                        </div>
                        
                    </div>
                </form>
        </div>
    </section>
    <!-- =========== Scripts =========  -->
        <script src="{% static 'asset/js/main.js' %}"></script>
</body>

</html>
